body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(238,238,238);
}

li, a {
    list-style: none;
    cursor: pointer;

}

li.active a {
}

.profile-sidebar li a {color: #333 !important;}
.navbar-default .navbar-nav>.active>a {background: #fff !important}
navbar a:active{color:#fff !important;}
navbar a:hover{color:#fff !important;}
navbar a:focus{color:#fff !important;}
navbar a{color:#fff !important;}
a:visited {color:#fff !important;}
li.active a {color: #000 !important;}

/*a.dropdown-toggle:hover{color:#aaa !important;}
a.dropdown-toggle:active{color:#aaa !important;}
a.dropdown-toggle:focus{color:#aaa !important;}
a.dropdown-toggle{color:#aaa !important;}*/

#categories li a {color:#000 !important;}

.jumbotron {
    background-color: rgb(255,255,255);
}

.img-responsive-2 {
    max-width: 5em;
    cursor: pointer;
    display: inline-block;
}

.navbar-default {
    background-color: rgba(51,65,74, 1);
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(255,255,255);
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff !important;
}

#navbar {
    max-height: 100%;
}

@media screen and (max-width: 480px) {
    #navbar {
        height: 100em;
    }
}


.navbar-default .navbar-nav>li>a:hover {
    color: #eee;
}

.navbar-default .navbar-nav>li:hover {
    text-decoration: underline;
}


.navbar-default .navbar-brand:hover {
    color: rgb(255,255,255);
}


.dropdown-menu>li>a{
    font-weight: 600;
}
.list-group-submenu {
    text-align: right;
}

#mdl-join {
    margin-top: 5em;
}

.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}


@media screen and (min-width: 480px) {
    #li-search-icon{
        color: #333 ;
        padding: 0.5em 0;
        height: 32px;
        background: none;
    }

    #search {
        color: #000;
    }

    #li-search-icon > form > div > span {
        color: #333;
    }

    .search-form .form-group {
      float: right !important;
      transition: all 0.35s, border-radius 0s;
      width: 32px;
      height: 32px;
      background-color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      border-radius: 25px;
      border: 1px solid #ccc;
    }
}

#li-search-icon{
    color: #fff;
    padding: 0.5em;
    height: 42px;
    background: none;
}

.search-form .form-group {
  /*float: right !important;*/
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
    color: #fff;
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  left: initial;
  font-size: 14px;
}


#categories {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
    left: 0;
    right: 0;
    text-align: center;
    max-height: 35em;
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (min-width: 480px) {
    #categories {
        box-shadow: 0px 2.5px 5px #666;
    }
}

.img-cat {
    margin-top: -5em;
    float: right;
}
.thead-inverse {
    background-color: rgb(51,65,74);
    color: #fff;
}
/*
.thead-inverse th:first-child {
    color: rgb(51,65,74);
    visibility: hidden;
}*/

.collapse.in h3:hover {
    text-decoration: underline;
}

#products-table td, td, th {
    vertical-align: middle;
    text-align: left;
}
#products-table input {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: (2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

#products-table_paginate a.paginate_button.current {
    background: rgb(49,156,255);
}


#menu-admin {
    display: none;
}

#menu-profile {
    display: none;
}



#categories ul {
    font-weight: 300;
    padding: 0;
}

.media-body{
    padding: 2em;
}


.dataTables_filter input {
    width: 80vw;
    border :none;
    box-shadow: 0 0 10px #333;
}

#filters-table thead {
    display: none;
}

.media-body {
    text-align: left;
}

.dataTables_wrapper .dataTables_length {
    float: right;
}

input,
#message,
textarea,
img,
button,
.btn-block
 {
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #999;
}

.thumbnail {
    border: none;
}

.btn-block {
    background: rgb(49,156,255);
    color: #fff;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    top: 35%;
    left: 4px;
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    color: #FFF;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 2.5px #666;
    box-sizing: content-box;
    font-family: "Courier New",Courier,monospace;
    text-indent: 4px;
    line-height: 18px;
    content: "+";
    background-color: #D45301;
}

.form-group .btn-success {
    width: 100%;
    font-size: 2em;
}

.contact-container {
    margin-left: 15%;
}