<h2>New Filter: </h2>
<table class="table">
    {{#each input}}
            <tr>
                <td>{{@key}}:</td>
                <td><input type="text"></td>
            </tr> 
    {{/each}}
    {{#each checkbox}}
        <tr>
            <td>{{@key}}:</td>
            <td><input type="checkbox"></td>
        </tr>
    {{/each}}
</table>
<button>CREATE FILTER</button>