<aside id="sidebar">
    <h1>Categories</h1>
    <ul id="categories-list">
        {{#each this}}
            <li><a onclick="categoriesController.onMouseClick('{{this.id}}')" href="#/Products">{{this.nameEN}}</a></li>
        {{/each}}
    </ul>
</aside>
