<div id="contacts-wrap">
    <form id="contact-form" action="/my-handling-form-page" method="post">
        <h1>Write Us</h1>
        <p>
            If you have a question for us, please use the contact form bellow. We will answer as soon as possible.
        </p>
        <div>
            <label for="mail">E-mail:</label>
            <input type="email" id="mail" />
        </div>
        <div>
            <label for="subject">Subject:</label>
            <input type="text" id="subject"/>
        </div>
        <div>
            <label for="msg">Message:</label>
            <textarea id="msg"></textarea>
        </div>
        <button type="button" name="submit">Send</button>
    </form>

    <h1 id="map-label">Find Us</h1>
    <p id="map-text">
        If you have a question for us, please use the contact form bellow. We will answer as soon as possible.
    </p>
    <img id="map" src="img/map.jpg" alt="" />
</div>
