<div id="products-list">
    <div id="compare-panel">

    </div>

    <!-- {{#each this}}
    <div class="product">
        <img src="{{imgurl}}" alt="" />
        {{#each this}}
            {{#unless @last}}
                <label>{{@key}}</label>
                <span>'{{this}}'</span>
            {{/unless}}
        {{/each}}
        <button onclick="userController.addToCart('{{this.system}}')" type="button" id="add-to-cart">Add</button>
        <button onclick="productsController.compare()" type="button" id="compare-product">Compare</button>
    </div>
    {{/each}} -->
</div>
