<button onclick="adminController.createFilter()">ADD NEW FILTER</button>
<button onclick="adminController.createFilter()">SHOW ALL FILTER</button>
<div class="row" id="create-filter-wrap">
   <h2>New Filter: </h2>
    <table class="table">
        {{#each input}}
            <tr>
                <td>{{@key}}:</td>
                <td><textarea id="{{this}}"></textarea></td>
            </tr> 
        {{/each}}
        {{#each checkbox}}
            <tr>
                <td>{{@key}}:</td>
                <td><input id="{{this}}" type="checkbox"></td>
            </tr>
        {{/each}}
    </table>
    <button onclick="adminController.createFilter()">CREATE FILTER</button>
</div>