#promo-products {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    margin-bottom: 5em;
    height: 20em;
    width: 61em;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #333;
}
#promo-products img {
    vertical-align: top;
    text-align: center;
    height: 20em;
}

#promo-products img:hover {
    opacity: 0.8;
    cursor: pointer;
}

#promo-products span {
}
