<h2>ALL FILTERS:</h2>
<table class="table">
    <thead>
        {{#each this}}
            {{#if @first}}
                
            {{/if}}
        {{/each}}
    </thead>
    <tbody>
        
    </tbody>
</table>