<h2>ALL FdILTERS:</h2>
<table class="table table-responsive table-hover">
    <thead class="thead-inverse">
        <tr>
            <th> </th>
            {{#each this}}
                {{#if @first}}
                    {{#each this}}
                        <th>{{@key}}</th>
                    {{/each}}
                {{/if}}
            {{/each}}
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
            <tr>
                <td><button>Edit</button></td>
                {{#each this}}
                    <td>{{this}}</td>
                {{/each}}
                <td><button>x</button></td>
            </tr>
        {{/each}}
    </tbody>
</table>