<div style="text-align: center">
    <button class="btn btn-primary" onclick="$('#create-categories-wrap').show(); $('#show-categories-wrap').hide(); adminController.getAllFilterIds()">ADD NEW CATEGORY</button>
    <!-- <button class="btn btn-primary" id="admin-show-all-categories" onclick="$('#create-categories-wrap').hide(); $('#show-categories-wrap').show();">SHOW ALL CATEGORIES</button> -->
</div>

<div class="row" id="create-categories-wrap"  style="display: none;">
   <h2>New Category: </h2>
    <table class="table">
        {{#each this}}
            <tr>
                <td>{{@key}}:</td>
                <td><textarea id="{{this}}"></textarea></td>
            </tr>
        {{/each}}
        <tr>
            <td>
                <p>
                    Filters:
                </p>
            </td>
            <td>
                <div id="addCategoryFilters">

                </div>
            </td>
        </tr>

    </table>
    <button onclick="adminController.createCategory()">CREATE CATEGORY</button>
</div>

<!-- <div class="row" id="show-categories-wrap"  style="display: none;"> -->
<div class="row" id="show-categories-wrap">

</div>
