<table class="table">
    <tr>
        <td>ID:</td>
        <td id="categoryId">{{this.id}}</td>
    </tr>
    {{#each this}}
        {{#unless @last}}
            <tr>
                <td>{{@key}}:</td>
                <td><textarea id="{{this}}"></textarea></td>
            </tr>
        {{/unless}}
    {{/each}}
</table>
