<h2>Add Product</h2>
<label for="add-system">System</label>
<input id="add-system" type="text" name="add-system">
<label for="add-design">Design</label>
<input id="add-design" type="text" name="add-design">
<label for="add-resolution">Resolution</label>
<input id="add-resolution" type="text" name="add-resolution">
<label for="add-shaft">Shaft</label>
<input id="add-shaft" type="text" name="add-shaft">
<label for="add-output">Output</label>
<input id="add-output" type="text" name="add-output">
<label for="add-features">Features</label>
<input id="add-features" type="text" name="add-features">
<label for="add-bit">Bit</label>
<input id="add-bit" type="text" name="add-bit">
<label for="add-type">Type</label>
<input id="add-type" type="text" name="add-type">
<label for="add-connection">Connection</label>
<input id="add-connection" type="text" name="add-connection">
<label for="add-approval">Approval</label>
<input id="add-approval" type="text" name="add-approval">
<button type="button" onclick="productsController.addProductAjax()" id="btn-add-product">ADD</button>
<p id="signUp-error-massage"></p>
