<div id="cartPane">

    <h2>Cart</h2>
    <ul>
        {{# each this}}
            <li>– {{this}}</li>
        {{/each}}
    </ul>
    <br>
    <button type="button" id="chechout">Checkout</button>
</div>
