<a id="close-sign-pane" href="#/products">◄</a>
<h2>Sign Up</h2>
<label for="email">Email</label>
<input id="user-email" type="text" name="email">
<label for="email">Password:</label>
<input id="user-password" type="password" name="password">
<label for="password-repeat">Confirm Password:</label>
<input id="user-password-confirm" type="password" name="password-repeat">
<button id="user-btn-signUp"type="button" name="submit">Submit</button>
<p id="signUp-error-massage"></p>
