<div style="text-align: center">
    <button onclick="$('#create-filter-wrap').toggle();">ADD NEW FILTER</button>
    <button onclick="$('#create-filter-wrap').toggle();">SHOW ALL FILTER</button>
</div>

<div class="row" id="create-filter-wrap"  style="display: none;">
   <h2>New Filter: </h2>
    <table class="table">
        {{#each input}}
            <tr>
                <td>{{@key}}:</td>
                <td><textarea id="{{this}}"></textarea></td>
            </tr> 
        {{/each}}
        {{#each checkbox}}
            <tr>
                <td>{{@key}}:</td>
                <td><input id="{{this}}" type="checkbox"></td>
            </tr>
        {{/each}}
    </table>
    <button onclick="adminController.createFilter()">CREATE FILTER</button>
</div>

<div class="row" id="show-filters-wrap"  style="display: none;">

</div>