<h2>New Filter: </h2>
<table class="table">
    {{#each input}}
        {{#unless @first}}
            <tr>
                <td>{{@key}}:</td>
                <td><input type="text"></td>
            </tr> 
        {{/unless}}
    {{/each}}
</table>
<button>CREATE FILTER</button>