<div class="jumbotron">
    <div class="container">
        <h1>Admin Panel</h1>
        <div class="container">
            <div id="exTab2" class="container">
            <ul class="nav nav-tabs">
                <li class="active">
                <a href="#1" data-toggle="tab">Users</a>
                </li>
                <li><a href="#2" data-toggle="tab">Categories</a>
                </li>
                <li><a onclick="adminController.tabFilters()" href="#3" data-toggle="tab">Filters</a>
                </li>
                <li><a href="#4" data-toggle="tab">Products</a>
                </li>
            </ul>
            </div>

            <div class="tab-content ">
                <div class="tab-pane active" id="1">
                    Users:
                </div>
                
                <div class="tab-pane" id="2">
                    Categories:
                </div>
                
                <div class="tab-pane" id="3">
                    Filters:
                </div>
                
                <div class="tab-pane" id="4">
                    Products:
                </div>
            </div>
        </div>
    </div>
</div>