<ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Cart
        </a>
    </li>
    {{#each this}}
        <li>
            <a href="#">{{this}}</a>
        </li>
    {{/each}}
    <li><button type="button" class="btn btn-primary" name="button">Checkout</button></li>
</ul>
