<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
<h1>Welcome</h1>

<h2>Promotions</h2>
<div class="row">
    <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
        <img src="/emag/img/sample-product.png" alt="promo">
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
        <img src="/emag/img/sample-product.png" alt="promo">
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
        <img src="/emag/img/sample-product.png" alt="promo">
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a class="thumbnail">
        <img src="/emag/img/sample-product.png" alt="promo">
    </a>
    </div>
</div>

<h2>Agenda</h2>
<p>Vestibulum non aliquet risus. Integer pretium, metus sed dictum tristique, mi justo sodales felis, et pharetra nulla nisi tristique diam. Phasellus quis dictum eros. Quisque egestas velit orci, vitae scelerisque magna euismod eu. Sed pretium eros sed pulvinar ullamcorper. Praesent vel sem in tortor convallis viverra. Donec quis gravida erat, vitae dignissim leo. Cras ornare ac elit eget commodo. In felis risus, finibus at ex nec, vehicula bibendum lacus. Vivamus porttitor rhoncus sapien feugiat luctus. Integer erat velit, porta vel ornare in, feugiat non nisl. Praesent ac tortor lectus. Praesent ac tellus id tellus accumsan laoreet sit amet vitae purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
<p>Vestibulum non aliquet risus. Integer pretium, metus sed dictum tristique, mi justo sodales felis, et pharetra nulla nisi tristique diam. Phasellus quis dictum eros. Quisque egestas velit orci, vitae scelerisque magna euismod eu. Sed pretium eros sed pulvinar ullamcorper. Praesent vel sem in tortor convallis viverra. Donec quis gravida erat, vitae dignissim leo. Cras ornare ac elit eget commodo. In felis risus, finibus at ex nec, vehicula bibendum lacus. Vivamus porttitor rhoncus sapien feugiat luctus. Integer erat velit, porta vel ornare in, feugiat non nisl. Praesent ac tortor lectus. Praesent ac tellus id tellus accumsan laoreet sit amet vitae purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
</div>